.contest__category_main {
  /* display: "flex",
        flex: 1,
        justifyContent: "stretch",
        alignContent: "stretch",
        flexDirection: "column",
        height: "100%",
        width: "inherit",
        background: "yellow", */
}
