.competition__main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.competition__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.competition__title {
  font-weight: bolder;
}

.submit_votes_btn {
  height: 50px;
  min-width: 130px !important;
  background: green !important;
  text-transform: none !important;
}

.submit_votes_btn:disabled {
  background-color: #eaeaea !important;
  color: #c0c0c0 !important
}

.submit_votes_btn:hover {
  background: black !important
}

.comp_fetch {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}